body{
    padding: 0;
    margin: 0;
}
.navbar-nav{
    display: flex;
    align-items: center;
}
.body{
    margin:2px;
    
}
.navbar{
    height: 44px;
    align-items: center;
    justify-content: center;
    background-color: #d2d2d7;
    
}
.navbar-nav .nav-item .nav-link{
    
    font-size: 12px;
    font-weight: 500px;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: -.01em;
    line-height: 1;
    color: rgb(50, 48, 48);
    justify-content: center;
    padding-top: 5px;
    margin-left: 18px;
    cursor: pointer;  
}


.navbar-nav .nav-item .nav-link:hover{
    color:black;
}



/*The contents in each row is styled here, it takes the whole space and the position is relative. */
.Contents{
    max-width: 100%;
    height: 580px;
    position: relative;
    cursor: pointer;
    margin-bottom: 25px;
    display:inline;
    overflow:hidden;

   
}

.Contents img{
    max-width:100%;
    height:580px;
    
}
/* This gives styling to the text content inside each row and places it in the centre.*/
.Label-Devices{
    position:absolute;
    top:10%;
    height:160px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    left: 50%; 
    transform: translateX(-50%);
    
    

    
}
/*Heading in the label for devices*/
.Label-Devices h1{
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 50px;
    z-index: 999;
}

.Label-Devices p{
    font-size: 24px;
    line-height: 4px;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    z-index: 999;
}


.Label-Buttons{
    margin-top: 35px;
}
/*The styling for two images in a row is here, and the label for it is positioned such that it is more closer to its bottom.*/
.Label-Devices-Grid1{
    position:absolute;
    transform: translate(-50%,-100%);
    height:160px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    left: 50%; 
    color: white;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    
}
/*Vision pro*/
.Label-Devices-Grid2{
    position:absolute;
    transform: translate(-50%,-100%);
    height:160px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    left: 50%; 
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.Label-Devices-Grid-Watch{
    position:absolute;
    transform: translate(-50%,-350%);
    height:160px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    left: 50%; 
    color:white;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.Label-Devices-Grid-iPad{
    position:absolute;
    transform: translate(-50%,-350%);
    height:160px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    left: 50%; 
    color:black;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.Label-Devices-Grid-Card{
    position:absolute;
    transform: translate(-50%,-350%);
    height:160px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    left: 50%; 
    color:black;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.Label-Devices-Grid-Trade{
    position:absolute;
    transform: translate(-50%,-350%);
    height:160px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
    left: 50%; 
    color:black;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.Label-Devices-Grid h5{
    color: white;
    font-weight: 300px;
}

.watch-label{
    position:absolute;
}

.footer{
    background-color: #f5f5f7;
}

.list-unstyled a{
    color:#d2d2d7;
    font-size: 12px;
}

.footer h6{
    color:#6e6e73;
}
.footer p{
    color:#d2d2d7;
    font-size: 12px;
}
/*Media queries 375*/
@media screen and (max-width:375px) {
    .Label-Devices h1{
        font-size: 14px;    
    }

    .Label-Devices p{
        font-size: 10px;
    }
    
}
/*Apple Conference*/
@media screen and (max-width:375px) {
    .Label-Devices-Grid1 h5{
        font-size: 14px;    
    }
    
}
/*Apple Vision Pro*/
@media screen and (max-width:375px) {
    .Label-Devices-Grid2 h5{
        font-size: 14px;    
    }

    
}

/*Apple watch*/
@media screen and (max-width:375px) {
    .Label-Devices-Grid-Watch h5{
        font-size: 14px;    
    }
    
}
/*iPad*/
@media screen and (max-width:375px) {
    .Label-Devices-Grid-Watch h5{
        font-size: 14px;    
    }
    
}
/*Apple card*/
@media screen and (max-width:375px) {
    .Label-Devices-Grid-Card h5{
        font-size: 14px;    
    }
    
}
/*Traade In*/
@media screen and (max-width:375px) {
    .Label-Devices-Grid-Trade h5{
        font-size: 14px;    
    }
    
}
/*Media queries 425*/
@media screen and (max-width:425px) {
    .Label-Devices h1{
        font-size: 14px;    
    }

    .Label-Devices p{
        font-size: 10px;
    }
    
}
/*Apple Conference*/
@media screen and (max-width:425px) {
    .Label-Devices-Grid1 h5{
        font-size: 14px;    
    }
    
}
/*Apple Vision Pro*/
@media screen and (max-width:425px) {
    .Label-Devices-Grid2 h5{
        font-size: 14px;    
    }

    
}

/*Apple watch*/
@media screen and (max-width:425px) {
    .Label-Devices-Grid-Watch h5{
        font-size: 14px;    
    }
    
}
/*iPad*/
@media screen and (max-width:425px) {
    .Label-Devices-Grid-Watch h5{
        font-size: 14px;    
    }
    
}
/*Apple card*/
@media screen and (max-width:425px) {
    .Label-Devices-Grid-Card h5{
        font-size: 14px;    
    }
    
}
/*Traade In*/
@media screen and (max-width:425px) {
    .Label-Devices-Grid-Trade h5{
        font-size: 14px;    
    }
    
}

/*Media queries 768*/
@media screen and (max-width:768px) {
    .Label-Devices h1{
        font-size: 16px;    
    }

    .Label-Devices p{
        font-size: 12px;
    }
    
}
/*Apple Conference*/
@media screen and (max-width:768px) {
    .Label-Devices-Grid1 h5{
        font-size: 14px;    
    }
    
}
/*Apple Vision Pro*/
@media screen and (max-width:768px) {
    .Label-Devices-Grid2 h5{
        font-size: 14px;    
    }

    
}

/*Apple watch*/
@media screen and (max-width:768px) {
    .Label-Devices-Grid-Watch h5{
        font-size: 14px;    
    }
    
}
/*iPad*/
@media screen and (max-width:768px) {
    .Label-Devices-Grid-Watch h5{
        font-size: 14px;    
    }
    
}
/*Apple card*/
@media screen and (max-width:768px) {
    .Label-Devices-Grid-Card h5{
        font-size: 14px;    
    }
    
}
/*Traade In*/
@media screen and (max-width:768px) {
    .Label-Devices-Grid-Trade h5{
        font-size: 14px;    
    }
    
}